<div class="text-center py-5" id="top3">
    <h3 id="text1">ITS ALL THOSE LITTLE DETAILS</h3>
    <br>
    <img class="img1 mouse-invisible" src="./assets/img/general/about-1.jpg" alt="">
</div>


<div class="container d-flex justify-content-center">
    <div class="d-flex  w-50">
        <div class="py-5 text-center">

            <h1 id="text1">COME MEET ME</h1>
            <p id="text1">Hello and welcome. I'm Karah , T H E G L A S S N A R A T O R , An international award winning storytelling documentary photographer.</p>
            <p id="text1">I'm based in Portsmouth Hampshire UK & I'm available to photograph wherever you need me. I'm an avid collector and maker of visual memories, I often call myself the family historian. My photography approach is simple. I capture what is important
                to you, important to preserve and what will be important in your future. I freeze and document fleeting moments that pass us at great speeds and I give to you the tangible gift of lasting laughter, tears and experiences to hold forever.
                I am going to lock down your now and let you keep it forever. I produce real photographs that offer your future self the ability to take a step back into time and soak up the tiny details, which for many families are being photographically
                lost in the social media perfect world that is dominating our lives. My family or newborn sessions focus on recording your truthful moments, with the outcome of your session being treasured images worthy of the family photo album and equally
                pride of place on your wall.
            </p>
        </div>
    </div>
</div>

<button (click)="gotoTop()" class="scroll-to-top btn btn-outline-secondary"><i class="fa-solid fa-angles-up"></i></button>

<ul>
    <li>
        <a>
            <div class="team-img mouse-invisible">
                <div class="front">
                    <img src="./assets/img/general/about-3.jpg" alt="">
                </div>
                <div class="back">
                    <img src="./assets/img/gallery/l6.jpg" alt="">
                </div>
            </div>
        </a>
    </li>
    <li>
        <a>
            <div class="team-img mouse-invisible">
                <div class="front">
                    <img src="./assets/img/general/about-2.jpg" alt="">
                </div>
                <div class="back">
                    <img src="./assets/img/gallery/wd2.jpg" alt="">
                </div>
            </div>
        </a>
    </li>
</ul>



<div class="container d-flex justify-content-center">
    <div id="text1" class="text-center py-5 w-50">
        <p>I offer my photographic services along the south coast of England within the county of Hampshire and beyond. Based in Portsmouth, I'm ideally located for newborn and family photography shoots within Portsmouth, Cosham, Purbrook, Widley, Denmead,
            Horndean, Clanfield, Portchester, Fareham, Gosport, Lee on the Solent, Titchfield, Havant, Chichester. <br> I am always willing to travel so please do get in touch. <br> In addition to being behind the camera, I enjoy writing, journaling,
            oral storytelling, cats, scooter adventures with my two small humans, blogging & curry. </p>
        <p>FANCY FINDING OUT MORE ON SESSIONS?</p>
        <a id="text1" href="https://www.theglassnarrator.com/sessions">CLICK TO FIND OUT MORE</a>
    </div>
</div>

