<div class="py-5">
    <h3 class="text-center mainTitle py-2">Behind the scenes</h3>
    <div class="container-article  container justify-content-center align-items-center">

        <div class="row justify-content-center">
            <div class="col-sm-4">
                <div class="containerCard1">
                    <div class="photoCard1">
                        <div class="image1">
                            <img id="photoQuery" src="./assets/img/general/articleImg1.jpg" alt="">
                        </div>
                        <div class="heading1">
                            <h4 class="title1">Workshop</h4>
                            <h3 class="subtitle1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima eaque optio necessitatibus ipsam laboriosam tempora, itaque eius quam voluptas pariatur numquam? Beatae, rem obcaecati blanditiis accusamus voluptatibus provident
                                dignissimos!
                            </h3>
                        </div>
                        <div class="descriptiontitle">
                            <p></p>
                        </div>
                        <div class="actions1">
                            <a href="" class="button1">See more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="containerCard1">
                    <div class="photoCard1">
                        <div class="image1">
                            <img id="photoQuery" src="./assets/img/general/articleImg2.jfif" alt="">
                        </div>
                        <div class="heading1">
                            <h4 class="title1">Colors</h4>
                            <h3 class="subtitle1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima eaque optio necessitatibus ipsam laboriosam tempora, itaque eius quam voluptas pariatur numquam? Beatae, rem obcaecati blanditiis accusamus voluptatibus provident
                                dignissimos!
                            </h3>
                        </div>
                        <div class="descriptiontitle">
                            <p></p>
                        </div>
                        <div class="actions1">
                            <a href="" class="button1">See more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="containerCard1">
                    <div class="photoCard1">
                        <div class="image1">
                            <img id="photoQuery" src="./assets/img/general/articleImg3.jpg" alt="">
                        </div>
                        <div class="heading1">
                            <h4 class="title1">Masterclass</h4>
                            <h3 class="subtitle1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima eaque optio necessitatibus ipsam laboriosam tempora, itaque eius quam voluptas pariatur numquam? Beatae, rem obcaecati blanditiis accusamus voluptatibus provident
                                dignissimos!
                            </h3>
                        </div>
                        <div class="descriptiontitle">
                            <p></p>
                        </div>
                        <div class="actions1">
                            <a href="" class="button1">See more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- 
  Inspired by https://dribbble.com/shots/3139631-Article-Cards-Alternate
-->
<div class="container py-5">
    <div class="row justify-content-center">
        <article class="article">
            <div class="bg"></div>
            <div class="article-container">
                <span class="article-type">FEATURED</span>
                <h3 class="article-title">Blue Ocean Waves Crash</h3>
                <span>-----</span>
                <p class="article-text">See the beautiful oceans of the Pacific coast where the water is so clean you can see the sand.</p>
            </div>
        </article>

        <article class="article" id="cave">
            <div class="bg"></div>
            <div class="article-container">
                <span class="article-type">FEATURED</span>
                <h3 class="article-title">Carves In The Caves</h3>
                <span>-----</span>
                <p class="article-text">Long exposure photography is when you leave the shutter open longer than usual to pick up more light.</p>
            </div>
        </article>
    </div>
</div>