<article-homepage></article-homepage>


<div class="container">
    <div class="py-5">

        <div class="text-center m-5">
            <a id="text1" class="text1">THEMES</a>
        </div>


        <div class="child-page-listing">





            <div class="grid-container container justify-content-center">

                <article id="3685" class="location-listing col">

                    <a class="location-title" href="#">
                        <div class="col-sm-10">
                            <p id="text1" class="text3 h5">PORTRAITS</p>
                            <p id="text1">From traditional portraits to boudoir to conceptual - explore every portrait photography style. An expression or a glance, creative and honest portraits.</p>
                        </div>
                    </a>


                    <div class="location-image">
                        <a href="#">
                            <img width="500" height="334" src="./assets/img/gallery/po10.jpg"> </a>

                    </div>
                    <div class="py-2 d-lg-none">
                        <div class="col-sm-10">
                            <p id="text1" class="text2 h5">PORTRAITS</p>
                            <p id="text1">From traditional portraits to boudoir to conceptual - explore every portrait photography style. An expression or a glance, creative and honest portraits.</p>
                        </div>
                    </div>

                </article>

                <article id="3688" class="location-listing col">

                    <a class="location-title" href="#">
                        <div class="col-sm-10">
                            <p id="text1" class="text3 h5">LANDSCAPE</p>
                            <p id="text1"> As a landscape photographer, my intentions are that the viewer connects with the emotions that I feld when I took the photo.</p>
                        </div>
                    </a>


                    <div class="location-image">
                        <a href="#">
                            <img width="500" height="334" src="./assets/img/gallery/l9.jpg"> </a>

                    </div>
                    <div class="py-2 d-lg-none">
                        <div class="col-sm-10">
                            <p id="text1" class="text2 h5">LANDSCAPE</p>
                            <p id="text1"> As a landscape photographer, my intentions are that the viewer connects with the emotions that I feld when I took the photo.</p>
                        </div>
                    </div>
                </article>

                <article id="3691" class="location-listing col">

                    <a class="location-title" href="#">
                        <div class="col-sm-10">
                            <p id="text1" class="text3  h5">WEDDING</p>
                            <p id="text1"> Beautiful light and unexpected compositions, images that capture the mood of a wedding day and telling a true story. </p>
                        </div>
                    </a>

                    <div class="location-image">
                        <a href="#">
                            <img width="500" height="334" src="./assets/img/gallery/wd10.jpeg"> </a>

                    </div>

                    <div class="py-2 d-lg-none">
                        <div class="col-sm-10">
                            <p id="text1" class="text2  h5">WEDDING</p>
                            <p id="text1"> Beautiful light and unexpected compositions, images that capture the mood of a wedding day and telling a true story. </p>
                        </div>
                    </div>
                </article>

                <article id="3694" class="location-listing col">

                    <a class="location-title" href="#">
                        <div class="col-sm-10">
                            <p id="text1" class="text3  h5">CULINARY</p>
                            <p id="text1">Running a successful blogging business is like taking on a dozen full time jobs. Focus on running your business and let me take stunning photos of your recipes for you!
                            </p>
                        </div>
                    </a>

                    <div class="location-listing col ">
                        <a href="#">
                            <img width="500" height="350" src="./assets/img/gallery/f12.jpg"> </a>

                    </div>

                    <div class="py-2 d-lg-none">
                        <div class="col-sm-10">
                            <p id="text1" class="text2  h5">CULINARY</p>
                            <p id="text1">Running a successful blogging business is like taking on a dozen full time jobs. Focus on running your business and let me take stunning photos of your recipes for you!
                            </p>
                        </div>
                    </div>

                </article>


            </div>
            <!-- end grid container -->

            <div class="text-center m-5">
                <a id="text1" class="text1" routerLink="/gallery">EXPLORE MORE <i class="fa-solid fa-arrow-right-long"></i></a>
            </div>
        </div>
    </div>

</div>