<section class="testimonials">
    <div class="container py-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-10 col-xl-8 text-center">
                <h3 id="title" class=" mb-4">SEE WHAT OHERS THINK ABOUT OUR SERVICES</h3>
                <p id="subtitle" class="mb-4 pb-2 mb-md-5 pb-md-0">
                    I'll exceed your expectations. You'll rest easy knowing you've hired the right wedding photographer, engagement photographer, portrait photographer, product photographer, or event photographer.
                </p>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-4 mb-4 mb-md-0">
                <div class="card">
                    <div class="card-body py-4 mt-2">
                        <div class="d-flex justify-content-center mb-4">
                            <img src="./assets/img/general/review-1.jpg" class="rounded-circle shadow-1-strong shadow-lg" />
                        </div>
                        <h5 id="textname" class="font-weight-bold">Teresa May</h5>
                        <h6 id="textJob" class="font-weight-bold my-3">Founder at ET Company</h6>
                        <ul class="list-unstyled d-flex justify-content-center">
                            <li>
                                <i class="fas fa-star fa-sm"></i>
                            </li>
                            <li>
                                <i class="fas fa-star fa-sm"></i>
                            </li>
                            <li>
                                <i class="fas fa-star fa-sm"></i>
                            </li>
                            <li>
                                <i class="fas fa-star fa-sm"></i>
                            </li>
                            <li>
                                <i class="fas fa-star fa-sm"></i>
                            </li>
                        </ul>
                        <p id="textQuote" class="mb-2">
                            <i class="fas fa-quote-left pe-2"></i>I recently had a photoshoot with Rob and it was a GREAT experience! He is funny and very helpful! A great person and photographer! He was so nice to help with my looks and posing! Definitely
                            recommended and will be doing another shoot with him in the future! Couldn't have asked for better!<i class="fas fa-quote-left pe-2"></i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 mb-md-0">
                <div class="card">
                    <div class="card-body py-4 mt-2">
                        <div class="d-flex justify-content-center mb-4">
                            <img src="./assets/img/general/review-2.jpg" class="rounded-circle shadow-1-strong shadow-lg" />
                        </div>
                        <h5 id="textname" class="font-weight-bold">Maggie McLoan</h5>
                        <h6 id="textJob" class="font-weight-bold my-3">Photographer at Studio LA</h6>
                        <ul class="list-unstyled d-flex justify-content-center">
                            <li>
                                <i class="fas fa-star fa-sm"></i>
                            </li>
                            <li>
                                <i class="fas fa-star fa-sm"></i>
                            </li>
                            <li>
                                <i class="fas fa-star fa-sm"></i>
                            </li>
                            <li>
                                <i class="fas fa-star fa-sm"></i>
                            </li>
                            <li>
                                <i class="fas fa-star fa-sm"></i>
                            </li>
                        </ul>
                        <p id="textQuote" class="mb-2">
                            <i class="fas fa-quote-left pe-2"></i>Best decision ever made! The whole experience was amazing! A great guy, and an absolute professional. Best decision ever made. His work is stunning, and on the day of the wedding, he was
                            such a kind and guiding light throughout the day. Highly recommend him and his amazing work.
                            <i class="fas fa-quote-left pe-2"></i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-0">
                <div class="card">
                    <div class="card-body py-4 mt-2">
                        <div class="d-flex justify-content-center mb-4">
                            <img src="./assets/img/general/review-3.jpg" class=" rounded-circle shadow-1-strong shadow-lg" />
                        </div>
                        <h5 id="textname" class="font-weight-bold">Alexa Horwitz</h5>
                        <h6 id="textJob" class="font-weight-bold my-3">Frontend developer in NY</h6>
                        <ul class="list-unstyled d-flex justify-content-center">
                            <li>
                                <i class="fas fa-star fa-sm"></i>
                            </li>
                            <li>
                                <i class="fas fa-star fa-sm"></i>
                            </li>
                            <li>
                                <i class="fas fa-star fa-sm"></i>
                            </li>
                            <li>
                                <i class="fas fa-star fa-sm"></i>
                            </li>
                            <li>
                                <i class="fas fa-star fa-sm"></i>
                            </li>
                        </ul>
                        <p id="textQuote" class="mb-2">
                            <i class="fas fa-quote-left pe-2"></i>Rob was amazing! He was completely transparent at every step and worked with us to make sure we had everything in place for the wedding to run smoothly. Couldn't have gone better! Our photos
                            were amazing, and on the day, Rob and his team were great with our wedding party and all the guests.
                            <i class="fas fa-quote-left pe-2"></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>