<!-- <div class="py-5">
    <div class="container winnerOf">
        <div class="row justify-content-center">
            <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-6">
                <h1 class="bannerTxt text-center">WINNER OF</h1>
            </div>
            <div class="col"> <img class="img-fluid1" src="./assets/img/general/awards2.png" alt=""></div>
        </div>
    </div>
</div> -->




<!-- <div class="d-flex justify-content-center">
    <div class="container justify-content-center">
        <div class="row justify-content-center">
            <img src="./assets/img/general/awardsP1.jpg" class="img-fluid w-75" alt="...">
        </div>
    </div>
</div> -->


<div class="d-flex justify-content-center" id="top3">
    <div class="container justify-content-center">
        <div class="row justify-content-center">


            <img class="img-fluid1 w-50" src="./assets/img/general/awards1.png" alt="">
        </div>
    </div>
</div>

<div class="d-flex py-5 justify-content-center">
    <div class="container justify-content-center">
        <div class="row justify-content-center">
            <h6 class="text-center title1"> LANDSCAPE PHOTOGRAPHY CONTEST WINNER</h6>
            <h6 class="text-center title2">AWARD WINNER PHOTOGRAPHY BY STEPHEN MATERA</h6>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center">
    <div class=" justify-content-center">
        <div class="row justify-content-center mouse-invisible">


            <img src="./assets/img/general/awardsP5.jpg" alt="">
        </div>
    </div>
</div>

<div class="d-flex justify-content-center">
    <div class=" justify-content-center">
        <div class="row justify-content-center mouse-invisible">


            <img src="./assets/img/general/awardsP7.jpg" alt="">
        </div>
    </div>
</div>


<div class="d-flex  justify-content-center">
    <div class=" justify-content-center">
        <div class="row justify-content-center mouse-invisible">


            <img src="./assets/img/general/awardsP8.jpg" alt="">
        </div>
    </div>
</div>


<div class="d-flex py-5 justify-content-center">
    <div class="container justify-content-center">
        <div class="row justify-content-center">
            <h6 class="text-center textAward p-5"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum modi itaque temporibus velit ullam obcaecati, sequi fugit esse, quidem ipsa perspiciatis nesciunt non fuga! Soluta molestias magnam vel iusto omnis! Ea minus quae modi voluptatum
                molestiae iste rerum alias ipsa eum voluptas reiciendis, consequatur inventore nobis, eveniet ex pariatur voluptatem corrupti vitae. Aut hic consectetur cum, exercitationem doloremque quaerat maiores? Fuga, repudiandae expedita. Sunt at,
                hic, ab consectetur aperiam cupiditate distinctio nesciunt eveniet suscipit velit earum quod cum debitis fugiat? Impedit, magni. Facere maiores velit possimus reprehenderit nesciunt, nihil laboriosam! Quae veniam earum eum eaque aspernatur
                quas optio autem, omnis quasi! Officia, assumenda dolorem nam, cumque tempora doloribus, esse cupiditate deleniti aliquam provident dolor in consequatur error obcaecati veniam. Autem! Doloribus iusto sed nihil nam quidem debitis illum
                enim velit ea nesciunt. Repellat in consequatur ullam commodi rerum eos quas quibusdam, tempora eveniet velit perferendis nihil optio neque ducimus dolor. </h6>
        </div>
    </div>
</div>


<div class="d-flex py-5 justify-content-center">
    <div class="container justify-content-center">
        <div class="row justify-content-center">
            <h6 class="text-center title2">© STEPHEN MATERA</h6>
        </div>
    </div>
</div>

<button (click)="gotoTop()" class="scroll-to-top btn btn-outline-secondary"><i class="fa-solid fa-angles-up"></i></button>